$color-margin-blue: hsl(213, 96%, 18%);
$color-purplish-blue: hsl(243, 100%, 62%);
$color-pastel-blue: hsl(228, 100%, 84%);
$color-light-blue: hsl(206, 94%, 87%);
$color-strawberry-red: hsl(354, 84%, 57%);
$color-cool-gray: hsl(231, 11%, 63%);
$color-light-gray: hsl(229, 24%, 87%);
$color-magnolia: hsl(217, 100%, 97%);
$color-alabaster: hsl(231, 100%, 99%);
$color-white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  margin: 0;
  background-color: $color-magnolia;
}